/////////////////////
// Variables
/////////////////////
@skyblue: #73C4FF;
@border: 1px solid #eee;
@keyHeight: 30px;
@keyWidth: 96px;
@enterHeight: 293px;

@import "mixins/animate.less";
@import "includes/animations.less";

///////////////////////////
// Keypad
///////////////////////////
.react-keypad {
    color: #333;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    transition: all 0.5s ease;
    transform: translateY(80px);

    &.active {
        transform: translateY(0px);
    }

    ::-webkit-input-placeholder {
       color: #eee;
    }
}

.react-keypad .pad {
    visibility: hidden;
    width: 420px;
    margin: 0 auto;

    &.active {
        visibility: visible;
        .fadeInUp;
    }
}

.react-keypad input {
    display: block;
    font-size: 1.2em;
    border: @border;
    height: 45px;
    width: 100%;
    background: none;
    padding: 6px 12px;
    margin-bottom: 8px;

    &:focus {
        outline: none;
    }
}

///////////////////////////
// Keys
//////////////////////////
.react-keypad .key {
    background-color: #fff;
    border: none;
    border-left: @border;
    border-top: @border;
    font-size: 1.2em;
    width: @keyWidth;
    padding-top: @keyHeight;
    padding-bottom: @keyHeight;
    cursor: pointer;

    &:last-child {
        border-right: @border;
    }

    &:focus {
        outline: none;
    }

    &.clicked {
        border: 1px solid @skyblue;
        box-shadow: 0px 0px 2px 0px @skyblue;
    }

    &.key-enter {
        padding-top: 18px;
        padding-bottom: 18px;
        border: none;
        background: #29FFA1;
        width: 132px;
        border-radius: 61px;
        margin-top: 19px;
    }

}


///////////////////////////
// Key Group
///////////////////////////
.react-keypad .row {
    margin: 0 auto;
}

.react-keypad .row:last-child > .key {
    border-bottom: @border;
}
